doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{pageTitle}
    link(rel="stylesheet", href="/css/common.css")
    block stylesheets
  body
    header.page-header
      ul.main-nav
        li
          a(href='/') Home
        li
          a(href='/products') Products
        li
          a(href='/cart') Cart
        li
          a(href='/orders') Orders
      ul.user-nav
        li
          a(href='/login') Login
        li
          a(href='/register') Register
        li
          button(type='submit') Logout

    block content
